



  <div class='col-sm-8 col-sm-offset-2 white-font'>
    <h1 class="white-font page-header">Profile</h1>
    <br>
    <form method='POST' name="profileForm" enctype='multipart/form-data'>

      <div class="col-sm-12">
        <div class="col-sm-4">
          <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" ng-model="profile.name">
            <span ng-show="errorName">{{ errorName }}</span>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label>Email</label>
            <input type="email" name="name" class="form-control" ng-model="profile.email">
            <span ng-show="errorLocation">{{ errorLocation }}</span>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label>Designation</label>
            <select class="form-control" ng-model="profile.designation" ng-options="job for job in jobs"></select>
            <span ng-show="errorNotice_period">{{ errorNotice_period }}</span>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label>Location</label>
            <input type="text" name="name" class="form-control" ng-model="profile.location">
            <span ng-show="errorEmail">{{ errorEmail }}</span>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label>Current CTC</label>
            <input type="number" name="name" class="form-control" ng-model="profile.current_ctc">
            <span ng-show="errorCurrent_ctc">{{ errorCurrent_ctc }}</span>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label>Expected CTC</label>
            <input type="number" name="name" class="form-control" ng-model="profile.expected_ctc">
            <span ng-show="errorDesignation">{{ errorDesignation }}</span>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label>Notice Period</label>
            <input type="number" name="name" class="form-control" ng-model="profile.notice_period">
            <span ng-show="errorExpected_ctc">{{ errorExpected_ctc }}</span>
          </div>
        </div>
      </div>

      <div class="col-sm-12" id="parent" ng-repeat="item in itemstoadd">
        <div class="col-sm-4">
          <div class="form-group">
            <label>Skill</label>
            <input type="text" name="name" class="form-control" ng-model="item.skill">
            <span class="danger">{{ errorSkill }}</span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Experience(Years)</label>
            <input type="number" name="name" class="form-control" ng-model="item.exp">
            <span>{{ errorExp }}</span>
          </div>
        </div>
        <div class="col-sm-4 custom-color" id="btndiv">
          <!-- <button class="small" style="margin-left: -29px;margin-top: 37px;" id="addbutton" ng-click="add(item); addNew(); removebutton()">Add new</button> -->
          <button class="small" style="margin-top: 36px;margin-left: -29px;" id="removebtn" ng-click="removeitem($index)">Remove</button>
        </div>
        <!-- <div class="col-sm-11 col-sm-offset-1">
          <br>
          <button type="submit" id="submitbutton" class="btn btn-primary pull-right" ng-click="add(item); submitForm()" name="button">Submit</button>
        </div> -->
      </div>
      <div>
        <a href="" class="" style="margin-left: 32px;" id="addbutton" ng-click="addNew()">Add another</a>
      </div>
      <div>
        <button type="submit" id="submitbutton" style="margin-left: 32px;margin-top: 3px;" class="btn btn-primary" ng-click="add(itemstoadd); submitForm()" name="button">Submit</button>
      </div>
      <span> </span>
    </form>
    <br><br><br><br>
  </div>
